img{width: 1190px;
    height: 750px;}

.swiper-slide{display: flex;
              justify-content: center;
              align-items: center;}

.swiper-container{background: linear-gradient(25deg, rgba(119, 7, 7, 0.7),
                              rgba(240, 245, 240, 0.7))
                              ,url(../img/square.png);
                 }
p{text-align: center;
  background-color: #730f14;
  padding-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
  color: white;}