
main{
    margin-left: 30px;
    align-items: center;

}

h1{
    font-size: 40px;
    font-weight: 700;
}


.photo img{
    width:300px;
	height:300px;
	object-fit:cover;
    border-radius:50%;
    
    object-position:20px 20px;
    float: left;
}

.text_box{
    float: right;
    /* position: fixed; */
}

